
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.silk-slider {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    margin: 1em auto;
}

.silk-slider__container {
    position: relative;
    transition: all ease-in-out 0.3s;
}

.silk-slider__container:after {
    content: " ";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
}

.silk-slider__item {
    float: left;
    background: #ffc3fb;
    height: 250px;
    vertical-align: middle;
    text-align: center;
    line-height: 250px;
}